<div id="login-box" class="forgot-pass-box">
  <div class="box-title login-title">
    <span> <i class="fa fa-sign-in"></i> Esqueci minha senha </span>
  </div>
  <div id="form-login">
    <form id="login-user">
      <div id="form-placement">
        <div>
          <label><i class="fa fa-at"></i></label>
          <input type="text" placeholder="Meu email" name="user-login-name" />
        </div>
      </div>
      <ul id="user-options">
        <li> <a href="/">Login</a> </li>
        <li>|</li>
        <li> <a href="/sigin">Não tenho cadastro</a> </li>
      </ul>
      <buttom class="btn btn-submit"> Enviar </buttom>
    </form>
  </div>
</div>
