<style> #user-options{bottom: 20% !important} </style>
<div id="login-box" class="cad-box">
  <div class="box-title login-title">
    <span> <i class="fa fa-sign-in"></i> Cadastro </span>
  </div>
  <div id="form-login">
    <form id="login-user">
      <div id="form-placement">
        <div>
          <label><i class="fa fa-user"></i></label>
          <input type="text" placeholder="Nome completo" name="user-login-name" />
        </div>
        <div>
          <label><i class="fa fa-at"></i></label>
          <input type="text" placeholder="Email" name="user-login-name" />
        </div>
        <div>
          <label><i class="fa fa-key"></i></label>
          <input type="password" placeholder="Senha" name="user-login-name" />
        </div>
        <div>
          <label><i class="fa fa-check"></i></label>
          <input type="password" placeholder="Confirmar Senha" name="user-login-name" />
        </div>
      </div>
      <ul id="user-options">
        <li> <a href="/">Login</a> </li>
        <li>|</li>
        <li> <a href="/forgot-pass">Esqueci minha senha</a> </li>
      </ul>
      <buttom class="btn btn-submit"> Enviar </buttom>
    </form>
  </div>
</div>
