				<ng-include src="'../includes/_stage-top.php'"></ng-include>
				<div id="data-panel">
					<div class="container-data new-post-placement">
							<div class="box-title">
								<span> <i class="fa fa-plus"></i> Nova ação </span>
								<span id="post-test"> <a href=""><i class="fa fa-desktop"></i> Preview </a></span>
							</div>
						<div class="action-box container inside-color" id="new-post-action">
							<form id='new-form'>
								<textarea id="post-input" name='post-input'></textarea>
								<div id="preview-post"></div>
								<button class="btn btn-submit"> END </button>
								<p id="chars-count"> Faltam <span>{{counter}}</span> caracteres</p>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!--- MODAL CONTROL -->
			<a href="" id="modalTrigger" data-reveal-id="banTags">&nbsp;</a>
			<div id="banTags" class="reveal-modal">
			     <h1> Atenção </h1>
			     <p> Algumas tags foram <span>banidas</span> </p>
			     <ul>
			     	<li>style</li>
					<li>body</li>
					<li>html</li>
					<li>iframe</li>
					<li>script</li>
					<li>action</li>
			     </ul>
			     <a class="close-reveal-modal">&#215;</a>
			</div>
